apiVersion: v2
name: mattermost-operator
description: "Deployment of mattermost operator using Helm"
home: https://github.com/mattermost/mattermost-operator
type: application
version: 1.25.4-bb.0
appVersion: 1.25.4
kubeVersion: ">=1.12.0-0"
keywords:
  - Mattermost
  - Operator
maintainers:
  - name: Mattermost
    email: info@mattermost.com
dependencies:
  - name: mattermost-operator-crds
    version: 1.25.4
    condition: installCRDs
    repository: "file://mattermost-operator-crds"
  - name: bb-common
    version: "0.14.1"
    repository: "oci://registry1.dso.mil/bigbang"
annotations:
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Mattermost Operator: 1.25.4
  helm.sh/images: |
    - name: mattermost-operator
      image: registry1.dso.mil/ironbank/opensource/mattermost/mattermost-operator:v1.25.4
