image:
  # -- Default image pull policy
  imagePullPolicy: IfNotPresent
  # -- Full image name
  repository: "registry1.dso.mil/ironbank/opensource/mattermost/mattermost-operator"
  # -- Image tag
  tag: v1.25.3

replicas:
  # -- Mattermost operator desired replicas
  count: 1

# -- Image pull secrets
imagePullSecrets:
- name: private-registry

# -- Resources for operator pod(s)
resources:
  requests:
    memory: 512Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 100m

# -- securityContext for Kubernetes pod(s)
securityContext:
  runAsUser: 65532
  runAsGroup: 65532
  runAsNonRoot: true

# -- containerSecurityContext for operator container
containerSecurityContext:
  capabilities:
    drop:
      - ALL
  privileged: false
  readOnlyRootFilesystem: true

# -- Affinity for operator pod(s)
affinity: {}
  # podAntiAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     - topologyKey: "kubernetes.io/hostname"
  #       labelSelector:
  #         matchLabels:
  #           dont-schedule-with: operator
  # nodeAffinity:
  #   requiredDuringSchedulingIgnoredDuringExecution:
  #     nodeSelectorTerms:
  #     - matchExpressions:
  #       - key: node-type
  #         operator: In
  #         values:
  #         - "operator"

# -- Node selector for operator pod(s)
nodeSelector: {}
  # node-type: operator

# -- Tolerations for operator pod(s)
tolerations: {}
#- key: "key1"
#  operator: "Equal"
#  value: "value1"
#  effect: "NoSchedule"

# -- Annotations for operator pod(s)
podAnnotations: {}
#e.g. bigbang.dev/istioVersion: 1.10.3

# -- Labels for operator pod(s)
podLabels: {}
#e.g. foo: bar

networkPolicies:
  # -- Toggle on/off Big Bang provided network policies
  enabled: true
  # -- Egress policies for the mattermost-operator
  egress:
    from:
      # -- The mattermost-operator needs access to Kubernetes API to manage CRDs
      mattermost-operator:
        podSelector:
          matchLabels:
            name: mattermost-operator
        to:
          definition:
            kubeAPI: true

istio:
  # -- Toggle on/off istio interaction, used for network policies and mTLS
  enabled: false
  # -- Default peer authentication
  mtls:
    # -- STRICT = Allow only mutual TLS traffic,
    # PERMISSIVE = Allow both plain text and mutual TLS traffic
    mode: STRICT
  # -- Sidecar configuration for outbound traffic policy
  sidecar:
    enabled: false
    outboundTrafficPolicyMode: "REGISTRY_ONLY"
  # -- Authorization policies configuration
  authorizationPolicies:
    enabled: false
    # -- Generate authorization policies from network policies
    generateFromNetpol: true
    # -- Custom authorization policies
    custom: []

monitoring:
  # -- Toggle on/off monitoring interaction, used for network policies
  enabled: false

# -- Openshift feature toggle, used for DNS network policy
openshift: false
